<template>
    <div>
      <div id="playlist">
      <template v-for="(item,key) in items">
        <button class="lecturita" :key="'b'+key" @click="selected=key">{{ key }}</button>
        <audio :key="'a'+key" v-if="selected==key" style="width: 100%" controls>
          <source v-for="filename in item"
                  :src="full(filename)" :type="'audio/'+filename.slice(-3)">
          </source>
        </audio>
      </template>
      <bunte_kante></bunte_kante>
      </div>
    </div>
</template>

<script lang="python">

class Component:

    def __init__(self):
        self.items = {}
        self.selected = None

    def MOUNTED(self):
        for item in self['$root'].audioFiles:
            title = item.split(".")[0].replace("_", " ")
            if self.items.get(title):
                Vue.set(self.items, title, self.items[title] + [item])
            else:
                Vue.set(self.items, title, [item])
        window.control = self

    def full(self, item):
        return location.origin + '/' + item

</script>

<style>

body {
    background-color: pink;
    font-family: sans;
    color: darkgreen;
    text-align: center;
    height: 100%;
    margin: 0px;
}
h1 {
    margin: 0px;
}
html {
    height: 100%;
    margin: 0px;
}

</style>

<style scoped>

:scope {
    flex: 1 1 auto;
    overflow-y: auto;
}
#playlist {
    display: flex;
    flex-direction: column;
    padding: 6px;
}
.lecturita {
    height: 35px;
    margin: 2px;
    background-color: indigo;
    color: cyan;
    font-weight: bold;
    font-size: 1em;
}
</style>
